html,
body,
#__next {
  min-height: 100vh;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #000221;
  color: #ebebed;
}

#hero {
  background: linear-gradient(-45deg, #edffea, #75daad, #3b6978, #204051);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.arc {
  transition-property: transform, opacity;
  transition-duration: .3s;
  transition-timing-function: ease;
  opacity: 0.8;
}
.arc:hover {
  transform: scale(1.05);
  opacity: 1.0;
}